@model NETCKTEAM30.Models.NguoiDung

@{
    ViewData["Title"] = "Details";
}

@{
    Layout = "_Admin";
}
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mainmenu {
            margin-left:30%;
        }
        table, tr,td{
            border: 1px solid black;
            border-collapse: collapse;
            background-color: white;
        }
        tr,td{
            padding: 10px;
        }
    </style>
</head>
<body>
    <h3 class="w3-bar-item w3-padding w3-white" style="width:100%; text-align: center">PRODUCTS</h3>
    <br />
    <br />
    <table class="mainmenu">
        <tr>
            <td>Họ Tên: </td>
            <td> @Html.DisplayFor(model => model.HoTen)</td>
        </tr>
        <tr>
            <td>Giới tính: </td>
            <td> @Html.DisplayFor(model => model.GioiTinh.TenGT)</td>
        </tr>
        <tr>
            <td>Ngày Sinh: </td>
            <td> @Html.DisplayFor(model => model.NgaySinh)</td>
        </tr>
        <tr>
            <td>Địa Chỉ: </td>
            <td> @Html.DisplayFor(model => model.DiaChi)</td>
        </tr>
        <tr>
            <td>SĐT: </td>
            <td> @Html.DisplayFor(model => model.SDT)</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td> @Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>Ảnh đại diện: </td>
            <td> 
                <div style="width:auto;height:200px; ">
                  @foreach (var item in ViewBag.arr)
                    {
                        if (item != "")
                        {
                        <img style="width:220px;height:200px;float:left; padding:5px;" src="~/images/@item" class="img-thumbnail" alt="Cinque Terre" />

                    }
                }
                </div>
            </td>
        </tr>
        <tr>
            <td>Loại Người Dùng: </td>
            <td> @Html.DisplayFor(model => model.LoaiNgDung.TenLoai)</td>
        </tr>
        <tr>
            <td>Tên Đăng Nhập: </td>
            <td> @Html.DisplayFor(model => model.TenDangNhap)</td>
        </tr>
    </table>
    <br />
    <br />
    <div class="mainmenu">
        <a asp-action="Edit" asp-route-id="@Model.NguoiDungID" class="w3-bar-item w3-padding w3-pale-yellow w3-button">Sửa</a>
        <a asp-action="Delete" asp-route-id="@Model.NguoiDungID" class="w3-bar-item w3-padding w3-pale-red w3-button">Xóa</a>
        <a asp-action="Index" class="w3-bar-item w3-padding w3-pale-blue w3-button">Trở Về</a>
    </div>
</body>